#!/bin/bash

ENABLED={{ if exists "/config/enabled" }}{{ getv "/config/enabled" }}{{ else }}0{{ end }}

if [ "$ENABLED" == "1" ]; then
  systemctl start consul_exporter
  systemctl start statsd_exporter
else
  systemctl stop consul_exporter
  systemctl stop statsd_exporter
fi
